<%layout('./layouts/boilerplate')-%>
<h1>All Restaurants</h1>

<% for (let restaurant of restaurants){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=restaurant.imgURL%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%=restaurant.name  %> </h5>
                <p class="card-text"><%= restaurant.location %></p>
                <p class="card-text">
                    <small class="text-muted">Description: <%= restaurant.description%></small>
                </p>
                <a class="btn btn-primary" href="/restaurants/<%=restaurant._id%>">View <%=restaurant.name%></a>
            </div>
        </div>
    </div>
</div>
<% }%>